<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Vue js</title>
</head>

<body>
	
	<div id="app">
		<h1>{{ message }}</h1>
  		<p>{{ now }}</p>
	</div>
	
	
	
	
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		const app = new Vue({
			el: '#app',
			data: {
			  message: 'Hello, Vue!',
			  now: new Date()
		  },
			methods: {
				updateData() {
					this.now = new Date();
				}
			},
			mounted() {
				setInterval(() =>{
					this.updateData();
				}, 1000);
			}
		})
	</script>
</body>
</html>
